.forma__title,
.price__old {
    color: #403215
}

.price__new,
.title {
    line-height: normal
}

.forma__title,
.new_price_cur,
.new_price_val,
.title {
    font-weight: 700
}

.biofosat__text,
.forma__title,
.logo__text,
.ministry__text,
.new_price_cur,
.new_price_title,
.old_price_cur,
.old_price_title,
.section-title,
.title,
button {
    text-transform: uppercase
}

.forma {
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: hidden;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-top: -20px
}

.forma__title {
    background-color: #FCE75D;
    text-align: center;
    padding: 15px 20px;
    font-size: 22px
}

.prices {
    padding: 15px 0
}

.price__new,
.price__old {
    display: inline-block;
    margin: 0 20px
}

.old_price_val {
    font-size: 36px;
    text-decoration: line-through
}

.old_price_cur {
    margin-left: 3px;
    text-decoration: line-through
}

.price__new {
    color: #76BF33;
    vertical-align: top
}

.new_price_val {
    font-size: 48px
}

.form {
    padding: 0 25px
}

.form__item {
    margin-bottom: 10px
}

.form__input {
    width: 100%;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    border: 2px solid #EAEAEA;
    height: 45px;
    outline: 0
}

.form__input::-webkit-input-placeholder {
    color: #606060
}

.form__input::-moz-placeholder {
    color: #606060
}

.form__input:-ms-input-placeholder {
    color: #606060
}

.form__input::-ms-input-placeholder {
    color: #606060
}

.form__input::placeholder {
    color: #606060
}

.logo__text,
.pri,
.title,
button {
    color: #fff
}

.form__btn {
    width: 100%;
    margin-top: 10px
}

@media (min-width:992px) and (max-width:1199px) {
    .forma__title {
        font-size: 17px
    }
    .old_price_val {
        font-size: 30px
    }
    .new_price_val {
        font-size: 40px
    }
    .price__new,
    .price__old {
        margin: 0 9px
    }
    .new_price_title,
    .old_price_title {
        font-size: 13px
    }
    .form {
        padding: 0 15px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .forma {
        margin-left: 0
    }
    .form {
        padding: 0 10px
    }
    .form__input {
        height: 40px
    }
    .forma__title {
        font-size: 14px
    }
    .new_price_val,
    .old_price_val {
        font-size: 26px;
        line-height: normal
    }
    .new_price_title,
    .old_price_title {
        font-size: 10px
    }
    .price__new,
    .price__old {
        margin: 0 8px
    }
}

@media (max-width:767px) {
    .form {
        padding: 0
    }
    .forma {
        margin-top: 180px;
        margin-left: 0
    }
    .forma__title {
        padding: 15px;
        font-size: 19px
    }
    .price__new,
    .price__old {
        margin: 0 10px
    }
}

.owl-carousel {
    display: block
}

.owl-dots {
    text-align: center;
    margin-top: 23px
}

.owl-dot {
    display: inline-block;
    -webkit-border-radius: 30px;
    -webkit-box-shadow: none;
    outline: 0;
    box-shadow: none;
    border-radius: 30px;
    width: 17px;
    margin: 0 7px;
    height: 17px;
    background-color: #82747f!important
}

.owl-dot.active {
    background-color: #DC20BC!important
}

.owl-nav {
    position: relative;
    margin-top: 20px
}

.owl-next,
.owl-prev {
    position: absolute;
    outline: 0;
    width: 13px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 23px
}

.owl-prev {
    background: url(../img/prev.png)!important;
    left: 15px
}

.owl-next {
    background: url(../img/next.png)!important;
    right: 15px
}

button {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #DC20BC;
    -webkit-box-shadow: 0 4px 4.65px .35px rgba(109, 100, 32, .44), inset .97px -3.88px 0 0 rgba(134, 20, 129, .004);
    box-shadow: 0 4px 4.65px .35px rgba(109, 100, 32, .44), inset .97px -3.88px 0 0 rgba(134, 20, 129, .004);
    font-size: 18px;
    border: none;
    height: 60px
}

.attack__item,
.get__item {
    border: 1px solid #fff
}

@media (min-width:768px) and (max-width:991px) {
    button {
        height: 45px;
        font-size: 15px
    }
}

.main {
    background-image: url(../img/main.jpg);
    padding-top: 30px
}

.logo__text {
    font-size: 22px
}

.logo__img {
    margin-bottom: 10px
}

.title {
    font-size: 44px
}

.ministry {
    background-color: #76BF33;
    position: relative;
    padding: 10px 0;
    margin-top: 100px;
    margin-right: 20px;
    margin-bottom: 35px
}

.ministry__img {
    position: absolute;
    top: -25px
}

.ministry__text {
    color: #fff;
    padding-left: 105px;
    font-size: 15px
}

.main__prod {
    padding-right: 10px;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-top: 40px;
}

.main-list {
    position: absolute;
    top: -55px;
    z-index: 1;
    padding: 0 15px;
    left: 0
}

.main-list__item {
    font-weight: 700;
    font-size: 19px;
    padding: 10px 5px 10px 15px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, .8)
}

.korzina {
    position: absolute;
    width: 555px;
    left: -150px;
    top: 250px
}

.pri {
    text-align: right;
    margin-top: 10px
}

@media (min-width:992px) and (max-width:1199px) {
    .logo__img {
        width: 100%
    }
    .logo__text {
        font-size: 18px
    }
    .title {
        font-size: 37px
    }
    .main-list__item {
        font-size: 16px
    }
    .main-list {
        padding: 0;
        margin-top: 10px
    }
    .ministry__img {
        width: 80px;
        top: -20px
    }
    .ministry__text {
        padding-left: 77px;
        font-size: 13px
    }
    .ministry {
        padding: 8px 0
    }
    .korzina {
        width: 445px;
        left: -60px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .main {
        padding-bottom: 45px
    }
    .logo__img {
        width: 100%
    }
    .logo__text {
        font-size: 18px
    }
    .title {
        font-size: 25px;
        line-height: 40px
    }
    .main-list {
        padding: 0;
        margin-top: 10px
    }
    .main-list__item {
        padding-left: 10px;
        font-size: 13px
    }
    .ministry__img {
        width: 50px;
        top: -9px
    }
    .ministry__text {
        font-size: 10px;
        padding-left: 50px
    }
    .ministry {
        padding: 5px 0
    }
    .korzina {
        width: 370px;
        left: -70px
    }
}

@media (max-width:767px) {
    .logo,
    .pri,
    .title {
        text-align: center
    }
    .logo__text {
        font-size: 24px;
        display: block;
        margin: 11px 0
    }
    .title {
        font-size: 29px
    }
    .main {
        background-image: url(../img/main_mob.jpg);
        padding-top: 18px;
        padding-bottom: 50px
    }
    .ministry {
        margin-right: 0;
        margin-top: 15px
    }
    .main-list {
        position: static;
        margin-top: 30px;
        padding: 0
    }
    .main-list__item {
        font-size: 16px
    }
    .ministry__img {
        width: 90px;
        top: -20px
    }
    .ministry__text {
        padding-left: 88px;
        font-size: 13px
    }
    .korzina {
        width: 100%;
        left: 0;
        position: static;
        top: 85px
    }
    .main__prod {
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        margin: 60px auto 0;
        width: 270px
    }
    .pri {
        color: #000;
        margin-top: 0
    }
}

.attack__img,
.tired__img {
    width: 100%
}

.biofosat-title,
.tired-title,
.tired__text,
.try-description,
.try-title {
    color: #fff
}

.attack {
    padding-top: 110px;
    padding-bottom: 25px
}

.attack .col-sm-3 {
    padding: 0
}

.attack-title {
    margin-bottom: 20px
}

@media (max-width:767px) {
    .attack {
        padding-top: 0
    }
    .attack__item {
        text-align: center
    }
}

.tired {
    background-image: url(../img/tired.jpg);
    padding-top: 40px;
    padding-bottom: 60px
}

.tired-title {
    margin-bottom: 60px
}

.tired__text {
    margin-top: 10px;
    font-size: 17px
}

@media (min-width:768px) and (max-width:991px) {
    .tired__text {
        font-size: 15px
    }
}

@media (max-width:767px) {
    .tired {
        background-image: url(../img/tired_mob.jpg);
        padding-bottom: 5px
    }
    .tired__text {
        margin: 15px 0
    }
}

.try {
    background-image: url(../img/try.jpg);
    padding-top: 35px
}

.try-description {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px
}

.try__img {
    width: 532px;
    top: 65px;
    z-index: 1;
    position: absolute
}

.try__list {
    background-color: #fff;
    margin-bottom: 110px;
    padding: 20px 15px;
    -webkit-box-shadow: 0 0 20.16px .84px rgba(55, 73, 22, .22);
    box-shadow: 0 0 20.16px .84px rgba(55, 73, 22, .22)
}

.try__item {
    font-size: 20px;
    padding: 2px 0 2px 40px;
    margin-bottom: 40px;
    background: url(../img/galka.png) left center no-repeat
}

.expert,
.product {
    background-color: #FAFAFC
}

@media (min-width:992px) and (max-width:1199px) {
    .try__img {
        width: 100%
    }
    .try__item {
        font-size: 16px;
        margin-bottom: 25px;
        padding: 5px 0 5px 40px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .try__img {
        width: 100%
    }
    .try__item {
        font-size: 17px;
        padding: 5px 0 5px 40px;
        margin-bottom: 25px
    }
}

@media (max-width:767px) {
    .try {
        background-image: url(../img/try_mob.jpg)
    }
    .try-description {
        font-size: 23px
    }
    .try__img {
        width: 290px;
        top: 0
    }
    .try__list {
        margin-top: 180px;
        padding-top: 80px;
        margin-bottom: 40px
    }
    .try__item {
        font-size: 17px;
        margin-bottom: 20px
    }
}

.expert__img,
.product-img__img {
    width: 100%
}

.product {
    padding-top: 45px;
    padding-bottom: 60px
}

.product-title {
    margin-bottom: 70px
}

.product__text {
    font-size: 19px;
    padding-top: 25px;
    line-height: 1.8
}

@media (min-width:768px) and (max-width:991px) {
    .product__text {
        font-size: 16px
    }
}

@media (max-width:767px) {
    .product {
        padding-top: 15px;
        padding-bottom: 10px
    }
    .product-title {
        margin-bottom: 20px
    }
    .product__text {
        font-size: 14px;
        margin-bottom: 15px
    }
}

.expert {
    padding-top: 60px;
    padding-bottom: 40px
}

.expert-title {
    margin-bottom: 40px
}

.expert__text {
    margin-bottom: 19px;
    font-size: 18px
}

@media (min-width:992px) and (max-width:1199px) {
    .expert__text {
        font-size: 15px;
        margin-bottom: 11px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .expert__text {
        font-size: 13px;
        margin-bottom: 8px
    }
}

@media (max-width:767px) {
    .expert {
        padding-bottom: 20px;
        padding-top: 30px
    }
    .expert__img {
        margin-bottom: 15px
    }
    .expert__text {
        font-size: 14px;
        margin-bottom: 10px
    }
    .expert-title {
        margin-bottom: 20px
    }
}

.biofosat {
    background-image: url(../img/biofosat.jpg);
    padding-top: 40px;
    padding-bottom: 105px
}

.biofosat-description {
    text-align: center;
    margin-top: 10px;
    color: #fff;
    font-size: 20px
}

.biofosat__item {
    margin-top: 145px;
    -webkit-background-size: 100%!important;
    background-size: 100%!important;
    padding: 25px 35px;
    font-size: 16px;
    height: 130px;
    font-weight: 500;
    background: url(../img/fon.png) center top no-repeat
}

.biofosat__formula {
    position: absolute;
    top: 160px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto
}

.biofosat__text {
    font-weight: 900;
    position: absolute;
    left: -40px;
    color: #DC20BC;
    font-size: 51px;
    text-shadow: #fff 5px 5px 0, #fff -5px -5px 0, #fff -5px 5px 0, #fff 5px -5px 0;
    margin-top: 285px
}

@media (min-width:992px) and (max-width:1199px) {
    .biofosat__item {
        padding: 20px 35px;
        font-size: 14px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .biofosat {
        padding-bottom: 40px
    }
    .biofosat__formula {
        width: 315px
    }
    .biofosat__item {
        padding: 15px 20px;
        font-size: 15px;
        margin-top: 75px
    }
    .biofosat__text {
        font-size: 28px;
        left: 0;
        margin-top: 210px;
        text-shadow: #fff 3px 3px 0, #fff -3px -3px 0, #fff -3px 3px 0, #fff 3px -3px 0
    }
}

@media (max-width:767px) {
    .biofosat {
        background-image: url(../img/biofosat_mob.jpg);
        padding-bottom: 20px
    }
    .biofosat-description {
        font-size: 18px;
        margin-bottom: 255px
    }
    .biofosat__formula {
        top: 190px;
        width: 100%;
        bottom: auto
    }
    .biofosat__item {
        margin-top: 10px;
        padding: 15px
    }
    .biofosat__text {
        margin-top: 0;
        left: 40px;
        font-size: 42px;
        text-shadow: #fff 3px 3px 0, #fff -3px -3px 0, #fff -3px 3px 0, #fff 3px -3px 0;
        top: -415px
    }
}

.get {
    padding: 40px 0
}

.get .col-sm-3 {
    padding: 0
}

.get-description {
    text-align: center;
    font-size: 20px;
    margin: 30px 0 20px
}

.get__img {
    width: 100%
}

@media (max-width:767px) {
    .get-description {
        font-size: 17px
    }
}

.attention {
    background-color: #FAFAFC;
    padding: 30px 0 85px
}

.attention-title {
    color: #DC20BC;
    margin-bottom: 50px
}

.attention-garanty {
    position: relative
}

.attention__norisk {
    text-align: left!important;
    color: #DC20BC
}

.footer,
.section-title,
.steps__item,
.use__number {
    text-align: center
}

.attention__text {
    font-size: 18px;
    margin-bottom: 50px
}

@media (min-width:992px) and (max-width:1199px) {
    .attention-garanty_prod {
        width: 185px;
        bottom: -35px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .attention__text {
        font-size: 14px;
        margin-top: 30px;
        margin-bottom: 0
    }
    .attention-garanty__img,
    .attention-garanty_prod {
        width: 100%
    }
}

@media (max-width:767px) {
    .attention {
        padding-bottom: 50px
    }
    .attention-title {
        margin-bottom: 20px
    }
    .attention__text {
        font-size: 16px;
        margin-bottom: 18px
    }
    .attention-garanty__img,
    .attention-garanty_prod {
        width: 100%
    }
}

.steps {
    padding-top: 40px;
    padding-bottom: 50px
}

.steps-title {
    margin-bottom: 90px
}

.steps__item:after {
    position: absolute;
    content: '';
    width: 267px;
    top: -30px;
    right: -134px;
    height: 37px;
    background: url(../img/duga.png) center top no-repeat
}

.duga-hidden:after {
    display: none
}

.steps__number {
    background-color: #76BF33;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 auto 15px;
    line-height: 40px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font-size: 20px
}

.steps__text {
    font-size: 18px;
    padding: 0 35px;
    margin-top: 30px
}

@media (min-width:992px) and (max-width:1199px) {
    .steps__text {
        padding: 0
    }
    .steps__item:after {
        width: 235px;
        right: -116px;
        top: -30px;
        -webkit-background-size: 100%;
        background-size: 100%
    }
}

@media (min-width:768px) and (max-width:991px) {
    .steps__text {
        padding: 0
    }
    .steps__item:after {
        -webkit-background-size: 100%;
        background-size: 100%;
        width: 178px;
        right: -87px;
        top: -22px
    }
}

@media (max-width:767px) {
    .steps {
        padding-bottom: 0
    }
    .steps__item:after {
        display: none
    }
    .steps-title {
        margin-bottom: 20px
    }
    .steps__text {
        padding: 0;
        font-size: 16px
    }
    .steps__item {
        margin-bottom: 30px
    }
}

.use {
    background-color: #FAFAFC;
    padding-top: 40px;
    padding-bottom: 70px
}

.use-title {
    margin-bottom: 60px
}

.use__number {
    position: absolute;
    background-color: #76BF33;
    color: #fff;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    line-height: 65px;
    border-radius: 40px;
    font-size: 30px;
    font-weight: 700;
    width: 70px;
    top: -35px;
    border: 3px solid #fff;
    height: 70px;
    left: 0;
    right: 0;
    margin: 0 auto
}

.use__text {
    font-size: 18px;
    margin-top: 20px
}

@media (min-width:992px) and (max-width:1199px) {
    .use__img {
        width: 100%
    }
    .use__text {
        font-size: 16px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .use__img {
        width: 100%
    }
    .use__number {
        width: 50px;
        height: 50px;
        line-height: 45px;
        font-size: 25px
    }
    .use__text {
        font-size: 14px
    }
}

@media (max-width:767px) {
    .use {
        padding-bottom: 0
    }
    .use__img {
        width: 100%
    }
    .use__item {
        margin-bottom: 60px
    }
    .use__text {
        font-size: 16px
    }
}

.reviews {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(../img/reviews.jpg)
}

.reviews-title {
    font-weight: 400!important;
    color: #fff;
    margin-bottom: 40px
}

.reviews__item {
    margin-bottom: 50px
}

.reviews__text {
    background-color: #fff;
    height: 220px;
    padding: 20px 15px 30px 25px
}

.reviews__name {
    font-size: 18px;
    margin-bottom: 15px;
    display: block
}

.reviews__block {
    font-size: 16px
}

@media (min-width:992px) and (max-width:1199px) {
    .reviews__block {
        font-size: 14px
    }
    .reviews__img {
        width: 100%
    }
    .reviews__text {
        padding: 10px 15px;
        height: 172px
    }
    .reviews__name {
        margin-bottom: 5px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .reviews__img {
        width: 100%
    }
    .reviews__block {
        font-size: 12px
    }
    .reviews__text {
        padding: 10px 15px;
        height: 160px
    }
    .reviews__name {
        font-size: 13px;
        margin-bottom: 3px
    }
}

@media (max-width:767px) {
    .reviews {
        background-image: url(../img/reviews_mob.jpg)
    }
    .reviews__img {
        width: 100%
    }
    .reviews__text {
        padding: 10px 15px;
        margin-top: 15px;
        height: auto
    }
    .reviews-title {
        margin-bottom: 20px
    }
    .reviews__name {
        font-size: 16px;
        margin-bottom: 5px
    }
    .reviews__block {
        font-size: 14px
    }
    .reviews__item {
        margin-bottom: 15px
    }
}

.links__item,
.rekv {
    font-size: 16px
}

.footer {
    padding-top: 120px;
    padding-bottom: 30px
}

.rekv {
    margin-bottom: 10px
}

@media (min-width:768px) and (max-width:991px) {
    .rekv {
        font-size: 15px
    }
}

@media (max-width:767px) {
    .footer {
        padding-top: 0px;
        padding-bottom: 275px;
    }
    .rekv {
        font-size: 15px
    }
}

p {
    margin: 0
}

a {
    text-decoration: none!important
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

body {
    font-family: Roboto, sans-serif;
    color: #3a3a3a
}

section {
    background-repeat: no-repeat;
    background-position: center top
}

.section-title {
    font-size: 48px;
    font-weight: 700
}

.container {
    position: relative
}

@media (min-width:992px) and (max-width:1199px) {
    .section-title {
        font-size: 46px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .section-title {
        font-size: 35px
    }
}

@media (max-width:767px) {
    .container {
        width: 320px
    }
    .section-title {
        font-size: 26px
    }
}