@font-face {
    font-family: 'Aquarelle';
    src: url('../fonts/aquarelle.eot');
    src: local('Aquarelle'),
        url('../fonts/aquarelle.eot%3F') format('embedded-opentype'),
        url('../fonts/aquarelle.woff2') format('woff2'),
        url('../fonts/aquarelle.woff') format('woff'),
        url('../fonts/aquarelle.ttf') format('truetype'),
        url('../fonts/aquarelle.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}
.form__right button{
    outline: none;
    border: 0;
    cursor: pointer;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Medium.eot');
    src: local('HelveticaNeueCyr-Medium'),
        url('../fonts/HelveticaNeueCyr-Medium.eot%3F') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Light.eot');
    src: local('HelveticaNeueCyr-Light'),
        url('../fonts/HelveticaNeueCyr-Light.eot%3F') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Bold.eot');
    src: local('HelveticaNeueCyr-Bold'),
        url('../fonts/HelveticaNeueCyr-Bold.eot%3F') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-UltraLight.eot');
    src: local('HelveticaNeueCyr-UltraLight'),
        url('../fonts/HelveticaNeueCyr-UltraLight.eot%3F') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Roman.eot');
    src: local('HelveticaNeueCyr-Roman'),
        url('../fonts/HelveticaNeueCyr-Roman.eot%3F') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Thin.eot');
    src: local('HelveticaNeueCyr-Thin'),
        url('../fonts/HelveticaNeueCyr-Thin.eot%3F') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@keyframes stampRotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes blackBlink{
    0%{box-shadow: inset 0 0 300px 0px rgba(0,0,0,.2);}
    50%{box-shadow: inset 0 0 300px 500px rgba(0,0,0,1);}
    100%{box-shadow: inset 0 0 300px 0px rgba(0,0,0,.2);}
}






*::selection{
    color: #000;
    background: #ffccc2;
}








img{
    image-rendering: optimizeQuality;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  cursor: pointer;
}
input::placeholder{
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}
body,html {
    height:100%
}
img{
    user-select: none
}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display:block
}
ol,ul {
    list-style:none
}
blockquote,q {
    quotes:none
}
blockquote:after,blockquote:before,q:after,q:before {
    content:'';
    content:none
}
table {
    border-collapse:collapse;
    border-spacing:0
}
input::-webkit-input-placeholder {
    ont-size: 12px;
    font-weight: 500;
    color: #fff;
}
input::-moz-placeholder {
    ont-size: 12px;
    font-weight: 500;
    color: #fff;
}
input:-moz-placeholder {
    ont-size: 12px;
    font-weight: 500;
    color: #fff;
}
input:-ms-input-placeholder {
    ont-size: 12px;
    font-weight: 500;
    color: #fff;
}
input:placeholder {
    ont-size: 12px;
    font-weight: 500;
    color: #fff;
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    min-height:100%;
    height:auto!important;
    height:100%;
    background-color:#fff;
    overflow:hidden;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background: #fff;
    box-shadow: 0 0 125px rgba(0,0,0,.5);
}
.inner{
    max-width: 1330px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 15px;
}
.wrapper,body,html {
    min-width: 480px!important;
}
@viewport {
    width:device-width !important;
}
@-ms-viewport {
    width:device-width !important;
}
@-o-viewport {
    width:device-width !important;
}
html,body,button,input,select,.wrapper {
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size:16px;
    line-height:normal;
    color: #000;
    font-weight: normal;
}


.header{
    background: #fff url(../img/main-bg.jpg) no-repeat;
    background-position: left calc(50% - 13px) top 0;
    margin-bottom: 95px;
}
.top-line{
    padding: 40px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-left: 360px;
}
.top-line > a{
    font-weight: 400;
    padding: 0 10px;
    color: #7e7e7e;
    text-decoration: none;
    min-width: 106px;
    line-height: 16px;
    transition: all .3s ease;
}
.top-line > a:hover{
    color: #000;
}
.top-line > .btn{
    font-weight: 500;
    color: #fff !important;
}
.shadow__wrapper{
    position: fixed;
    left: 0;
    top: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0px 0px rgba(0,0,0,1);
    z-index: 5000;
    display: none;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
}



.shadow__wrapper.active{
    display: block;
    -webkit-animation-name: blackBlink;
            animation-name: blackBlink;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}

.main-block{
    margin-left: 475px;
}
.main-block__top{
    margin-left: 85px;
    padding: 50px 0 38px;
}
.main-block__name{
    font-family: 'Aquarelle';
    font-size: 35px;
    color: #303030;
    margin-bottom: 50px;
}
.main-block__desc{
    font-size: 60px;
    font-weight: 200;
    line-height: 50px;
    margin-bottom: 55px;
}
.main-block__desc span{
    position: relative;
    top: -15px;
    background: #181818;
    display: inline-block;
    font-size: 35px;
    color: #fff;
    text-align: center;
    font-weight: 100;
    padding: 14px 22px;
}
.main-block__post{
    color: #0d0d0d;
    font-size: 14px;
    margin-bottom: 10px;
}

.form{
    display: block;
    background: #303030;
    box-shadow: 0 4px 16px rgba(0,0,0,.45);
    padding: 15px 35px;
    position: relative;
    overflow: hidden;
}
.form,
.form__post{
    max-width: 710px;
    box-sizing: border-box
}
.form::before{
    content: '';
    position: absolute;
    right: -230px;
    top: -310px;
    border-radius: 50%;
    background: rgba(255,255,255,.035);
    width: 500px;
    height: 500px;
    z-index: 1;
}
.form__block{
    position: relative;
    z-index: 2;
}
.form__row{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.notify{
    position: absolute;
    bottom: -7px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 0 !important;
}
.form__row > *{
    margin: 5px;
}
.form__title{
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    margin: 10px auto 5px;
}
.form__desc{
    font-weight: 300;
    font-size: 12px;
    color: #727171;
    margin-bottom: 15px;
}
.timer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
}
.timer .hours,
.timer .mins,
.timer .secs{
    background: #464646;
    text-align: center;
    color: #fff;
    padding: 5px 6px;
    margin: 0 2.5px 24px;
    position: relative;
}
.timer .mins::after,
.timer .hours::after,
.timer .secs::after{
    font-weight: 300;
    font-size: 9px;
    position: absolute;
    width: 34px;
    color: #fff;
    text-align: center;
    bottom: -16px;
    white-space: nowrap;
    left: 50%;
    margin-left: -17px;
    text-transform: lowercase;
}
.timer .hours::after{
    content: 'Часов';
}
.timer .mins::after{
    content: 'Минут';
}
.timer .secs::after{
    content: 'Секунд';
}
.timer__until{
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.form__right{
    min-width: 165px;
}


.input-block,
.btn:not(.telegram-btn){
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding: 12px 25px !important;
    background: -moz-linear-gradient(0deg, rgba(255,74,158,1) 0%, rgba(255,106,109,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,74,158,1)), color-stop(100%, rgba(255,106,109,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, rgba(255,74,158,1) 0%, rgba(255,106,109,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(255,74,158,1) 0%, rgba(255,106,109,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, rgba(255,74,158,1) 0%, rgba(255,106,109,1) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(255,74,158,1) 0%, rgba(255,106,109,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4a9e', endColorstr='#ff6a6d',GradientType=1 ); /* ie6-9 */
}
.btn::after{
    transition: all .1s linear;
    border-radius: 30px;
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border: 2px solid #ff499e;
    box-sizing: border-box;
    opacity: 0;
}
.btn:hover::after{
    opacity: 1;
    left: -5px;
    top: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
}




.form__inputsBlock{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    align-items: center
}
.form__row .btn{
    text-transform: none;
    color: #fff !important;
    text-decoration: none;
    font-size: 11px;
    box-sizing: border-box;
    position: relative;
    top: -2px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}
.input-block{
    padding: 1px !important;
    margin-right: 20px;
}
.slider__block-right-p + .input-block a,
.input-block > input,
.input-block > select{
    transition: all .3s ease;
}
.slider__block-right-p + .input-block a:hover,
.input-block > input:hover,
.input-block > select:hover{
    background: rgba(0,0,0,.5);
}
.input-block,
.form__inputsBlock + .form__right{
    margin-bottom: 15px;
}
.input-block > *:not(p){
    background: #303030;
    border: 0;
    outline: none;
    display: block;
    padding: 16px;
    height: 45px;
    box-sizing: border-box;
    width: 125px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-align-last:center;
    text-decoration: none;
}
.input-block,
.input-block > *{
    border-radius: 30px;
}
.input-block:last-child{
    margin-right: 0;
}
.form__post{
    font-size: 12px;
    color: #303030;
    text-align: right;
    margin-top: 15px;
    padding-right: 25px;
}
.form__post span{
    font-weight: bold;
}











.slider1{
    margin-bottom: 90px;
}
.slider1,
.slider2{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start
}

.slider__block{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
}
.slider__block-left{
    margin-left: 20px;
    position: relative;
    margin-right: 85px;
    max-width: 530px
}
.slider__block-left::before{
    transform-origin: 50% 50%;
    animation: stampRotate 15s linear infinite;
    content: '';
    position: absolute;
    top: -50px;
    left: 75px;
    background-image: url(../img/sprite.png);
    background-position: -225px -679px;
    width: 67px;
    height: 67px;
    z-index: 10;
}
.slider__block-right{
    background: #000 url(../img/black-product.jpg);
    min-width: 300px;
    max-width: 300px;
    height: 390px;
    color: #fff;
    padding: 66px 75px;
    box-sizing: border-box;
}
.slider__block-right-title{
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 25px;
}
.slider__block-right-p{
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
    position: relative;
}
.slider__block-right-title + .slider__block-right-p::before{
    content: '';
    position: absolute;
    left: -26px;
    top: 50%;
    margin-top: -9px;
    background-image: url(../img/sprite.png);
    background-position: -320px -679px;
    width: 17px;
    height: 18px;
}
.slider__block-right-p + .input-block{
    margin: 30px auto;
}
.consult{
    text-align: center;
    color: #000 !important;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 500;
}
.consult:hover{
    text-decoration: none;
}

.owl-dots{
    position: absolute;
    left: -20px;
    top: 0;
    height: 100%;
    width: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap
}
.owl-dot{
    border-radius: 50% !important;
    width: 14px !important;
    height: 14px !important;
    background: #898989 !important;
    margin: 5px auto !important;
    border: 2px solid #fff !important;
    outline: none
}
.owl-dot.active{
    border-color: #fe4d9f !important;
    background: #fff !important;
}
.slider__block-left-slide{
    text-align: right;
}
.slider__block-left-slide img{
    display: inline-block !important;
    width: auto !important;
}

.slider2 .slider__block-right{
    background: transparent;
}
.slider2 .slider__block-right-title,
.slider2 .slider__block-right-p{
    color: #000;
    text-align: left;
    position: relative;
    z-index: 2;
}
.slider2 .slider__block-right-p::before{
    display: none !important;
}
.slider2 .slider__block-right-p{
    margin-bottom: 60px;
}
.slider2 .slider__block-right-title{
    margin-bottom: 15px;
}
.slider2 .slider__block-right {
    padding: 66px 45px;
        min-width: 360px;
        max-width: 360px;
        position: relative;
}
.slider2 .slider__block-left{
    z-index: 5 !important;
}
.slider2 .slider__block-left::before{
    display: none;
}
.slider__block-ti{
    position: absolute;
        left: -70px;
        letter-spacing: 1px;
    bottom: 66px;
    transform-origin: 50% 50%;
    transform: rotate(90deg);
    text-transform: uppercase;
    font-weight: bold;
    color: #8f8f8f;
    font-size: 8px;
}
.slider__block-bg{
        position: absolute;
    z-index: 1;
    font-size: 420px;
    color: #303030;
    opacity: .04;
    top: -90px;
    left: -130px;
    font-weight: bold;
    text-transform: uppercase;
}
.slider2{
    margin-bottom: 150px;
}
/* .slider2 a{
    color: #3748b1;
    text-decoration: underline;
}
.slider2 a:hover{
    text-decoration: none;
}
 */
.slider__block-right .btn{
    position: relative;
    z-index: 5;
    margin-bottom: 30px;
}






.problem{
    background: transparent url(../img/problem-bg.jpg) no-repeat;
    background-position: left 50% top 0;
    padding: 170px 0 100px;
}
.problem__title{
    color: #000;
    font-size: 65px;
    font-weight: 100;
    margin-bottom: 45px;
}
.problem .inner{
    padding-left: 185px;
}
.problem__titleSmall{
    color: #303030;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 26px;
    letter-spacing: 2px;
}
.problem__smallBlock{
    max-width: 415px;
    font-size: 14px;
    color: #6d5754;
}
.problem__smallBlock-items{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}
.problem__smallBlock-item p{
    margin-bottom: 10px;
}
.problem__smallBlock-items2{
    position: relative;
    padding-bottom: 10px;
}
.problem__smallBlock-items2::after{
    content: '';
    position: absolute;
    background-image: url(../img/sprite.png);
  background-position: -292px -679px;
  width: 28px;
  height: 22px;
  bottom: 0;
  left: 0;
}
.problem__smallBlock-items2 .problem__smallBlock-item:first-child{
    font-family: 'Aquarelle';
    font-size: 185px;
    color: #303030;
}
.problem__smallBlock-items2 .problem__smallBlock-item:last-child{
    font-size: 19px;
    font-weight: bold;
    color: #303030;
    margin-left: 15px;
}

.problem__smallBlock-text{
    font-size: 14px;
    color: #6d5754;
    margin-top: 15px;
    line-height: 25px;
    margin-bottom: 50px;
}
.sstitle,
.problem__smallBlock-subTitle{
    text-transform: uppercase;
    font-size: 12px;
    color: #303030;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 10px;
}
.problem__smallBlockSub{
    margin-top: 20px;
    background-image: url(../img/sprite.png);
  background-position: 0px -679px;
  width: 225px;
  height: 110px;
}
.sstext,
.sostav__text{
    padding-left: 30px;
    max-width: 455px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px;
}
.sstext{
    max-width: 315px
}
.sostav__text:last-child{
    margin-bottom: 335px;
}
.sostav__title + .sstitle{
    margin-bottom: 30px;
}












.sostav{
    background: #fff url(../img/sostav-bg.jpg) no-repeat;
    background-position: left 50% top 60px;
    padding: 90px 0 230px;
}
.sostav .sstitle,
.sostav .sstext{
    position: relative;
    z-index: 2;
}
.sostav__title{
    font-weight: 100;
    font-size: 65px;
    color: #000;
    margin-bottom: 50px;
}
.sostav__block2,
.sostav__block1{
    max-width: 630px;
    padding-left: 160px;
}
.sostav__item .sstitle{
    margin-bottom: 20px;
}
.sostav__item .sstext p{
    margin-bottom: 10px;
}
.sostav__item{
    margin-bottom: 55px;
    position: relative;
}
.sostav__aside:first-child .sostav__num{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjojRjZGMkU4OyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOiNFNEY5REI7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
background-image: -webkit-gradient(linear, left top, 90deg, color-stop(0%, #F6F2E8), color-stop(100%, #E4F9DB));
background-image: -moz-linear-gradient(90deg,#F6F2E8 0%,#E4F9DB 100%);
background-image: -webkit-linear-gradient(90deg,#F6F2E8 0%,#E4F9DB 100%);
background-image: -o-linear-gradient(90deg,#F6F2E8 0%,#E4F9DB 100%);
background-image: -ms-linear-gradient(90deg,#F6F2E8 0%,#E4F9DB 100%);
background-image: linear-gradient(90deg,#F6F2E8 0%,#E4F9DB 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
display:inline-block; /*required*/
}
.sostav__aside:last-child .sostav__num{
    color: #eefde7;
}
.sostav__aside:last-child .as1a .sostav__num,
.sostav__aside:first-child .sostav__item:nth-child(1) .sostav__num{
    left: -120px;
    top: -120px;
}
.sostav__aside:last-child .as2a .sostav__num,
.sostav__aside:first-child .sostav__item:nth-child(2) .sostav__num{
    right: -120px;
    top: -120px;
}
.sostav__aside:last-child .as3a .sostav__num,
.sostav__aside:first-child .sostav__item:nth-child(3) .sostav__num{
    left: -120px;
    top: -120px;
}
.sostav__aside:first-child .sostav__item:nth-child(4) .sostav__num{
    right: -120px;
    top: -120px;
}
.sostav__num{
    position: absolute;
    font-family: 'Aquarelle';
    font-size: 185px;
    height: 295px;
    width: 300px;
    text-align: center;
    display: inline-block;
    z-index: 1;
}
.sostav__block2{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px
}
.sostav__aside:last-child{
    background: #dafdb3;
    padding: 100px 60px 50px;
    background: -moz-linear-gradient(90deg, rgba(205,248,199,1) 0%, rgba(220,253,175,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(220,253,175,1)), color-stop(100%, rgba(205,248,199,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(90deg, rgba(205,248,199,1) 0%, rgba(220,253,175,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(90deg, rgba(205,248,199,1) 0%, rgba(220,253,175,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(90deg, rgba(205,248,199,1) 0%, rgba(220,253,175,1) 100%); /* ie10+ */
background: linear-gradient(0deg, rgba(205,248,199,1) 0%, rgba(220,253,175,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcfdaf', endColorstr='#cdf8c7',GradientType=0 ); /* ie6-9 */
}
.sostav__vita{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 65px;
    max-width: 320px
}
.sostav__vita p:last-child{
    font-size: 19px;
    color: #303030;
    font-weight: bold;
}
.sostav__vita p:first-child{
    font-size: 60px;
    color: #fff;
    font-weight: 100;
    padding: 15px 20px;
    background: #181818;
    margin-right: 30px;
}









.hurry .inner{
    padding: 130px 0 100px;
    background: #ffccc2;
    position: relative;
}
.hurry  .inner::before{
    content: '';
    position: absolute;
    left: -295px;
    top: -470px;
    background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 878px;
  height: 679px;
}
.hurry{
    text-align: center;
}
.hurry__title{
    font-family: 'Aquarelle';
    font-size: 95px;
    color: #303030;
    margin-bottom: 20px;
}
.hurry__product{
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}
.hurry__product-discount{
    width: 77px;
    height: 77px;
    text-align: center;
    position: absolute;
        right: 50px;
    top: 110px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    line-height: 77px;
}
.hurry__prb{
    margin-bottom: 50px;
}
.hurry__prb > *,
.hurry__prb{
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.hurry__prb > *{
    margin: 0 10px;
    letter-spacing: 2px;
}
.hurry__prb > *:last-child{
    color: #303030;
}
.hurry__prb > *:first-child{
    color: #795b56;
    text-decoration: line-through
}
.hurry__buttons{
    position: relative;
}
.hurry__buttons p{
    position: absolute;
    bottom: -40px;
    width: 100%;
    text-align: center;
    left: 0;
    font-weight: 300;
    font-size: 12px;
    color: #a48f8b;
    text-transform: none;
}
.hurry__buttons .btn{
    padding: 19px 0 !important;
    border-radius: 30px;
    min-width: 255px
}
.hurry__buttons .btn::after{
    border-radius: 30px;
}
.hurry__buttons  > *{
    margin: 0 25px;
}
.hurry__buttons .input-block .btn{
    width: auto;
    height: auto;
    background: #ffccc2;
    color: #424242;
    font-weight: bold;
}








.use{
    padding: 90px 0;
}
.use__block{
    max-width: 990px;
    margin: 0 auto;
}
.use__title{
    font-size: 63px;
    color: #000;
    font-weight: 100;
    margin-bottom: 90px;
}
.use__items{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 100px;
}
.use__item{
    margin-right: 60px;
    position: relative;
}
.use__item-num{
    position: absolute;
    font-size: 185px;
    color: #ff5c85;
    font-family: 'Aquarelle';
        top: -185px;
    left: -70px;
    z-index: 1;
}
.use__item .sstext{
    padding-left: 0;
    max-width: 100%
}
.use__item .sstext,
.use__item .sstitle{
    position: relative;
    z-index: 2;
}
.use__photos-block{
    position: relative;
    height: 1220px;
    background: url(../img/photos.jpg) no-repeat;
}
.use__photos-block > *{
    margin-bottom: 50px;
}
.use__photos-block .use__item{
    position: absolute;
    left: 250px;
    top: 90px;
}











.reviews{
    padding: 80px 0 120px;
    background: url(../img/reviews-bg.jpg) no-repeat;
    background-position: top 0 left 50%;
}
.reviews__title{
    text-align: center;
    font-size: 95px;
    color: #000;
    font-family: 'Aquarelle';
    margin-bottom: 5px;
}
.reviews__title + .sstitle{
    text-align: center;
}
.reviews__slider-wrapper{
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 0;
}
.reviews__slide{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.reviews__avaBlock{
    width: 140px;
}
.reviews__avaBlock img{
    margin-bottom: 15px;
}
.reviews__avaBlock span:last-child{
    display: block;
    margin-top: 5px;
    text-decoration: none !important;
}
.reviews__avaBlock p span:first-child{
    text-decoration: underline;
}
.reviews__avaBlock p{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 12px;
    padding-left: 17px;
    position: relative;
    letter-spacing: 2px;
}
.reviews__avaBlock p:hover{
    text-decoration: none;
}
.reviews__avaBlock p::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    background-image: url(../img/sprite.png);
  background-position: -337px -687px;
  width: 10px;
  height: 10px;
}
.reviews__text{
    max-width: 650px;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 14px;
    color: #282828;
    line-height: 26px;
    position: relative;
}
.reviews__text::before{
    content: '';
    position: absolute;
    left: 20px;
    top: -40px;
    background-image: url(../img/sprite.png);
  background-position: -292px -679px;
  width: 28px;
  height: 22px;
}
.reviews__nav,
.reviews__right{
    width: 70px;
}
.reviews__count{
    text-align: center;
    font-size: 14px;
    color: #282828;
    margin-top: 60px;
}

.reviews__nav .owl-prev,
.reviews__nav .owl-next{
    background-image: url(../img/sprite.png);
    background-position: -292px -701px;
    background-color: transparent;
    width: 13px;
    height: 24px;
    border: 0;
    outline: none;
    cursor: pointer;
    opacity: 1;
}
.reviews__nav .owl-prev.disabled,
.reviews__nav .owl-next.disabled{
    opacity: .5;
}
.reviews__nav .owl-prev{
    transform-origin: 50% 50%;
    transform: scaleX(-1);
}
.reviews__slider-wrapper{
    position: relative;
}
.reviews__nav{
    z-index: 50;
    position: absolute;
    right: 17px;
    top: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center
}










.faq{
    padding: 80px 0 65px;
    background: #fff;
}
.faq__title{
    font-size: 65px;
    font-weight: 100;
    color: #000;
    margin-bottom: 50px;
}
.faq__block{
    max-width: 960px;
    margin: 0 auto;
}
.faq__semiTitle{
    font-size: 16px;
    font-weight: bold;
    color: #686868;
    padding-bottom: 15px;
    border-bottom: 1px solid #efeded;
    padding-top: 25px;
    cursor: pointer;
    padding: 25px 15px 15px;
}
.faq__semiTitle:first-child{
    padding-top: 0;
}
.faq__semiTitle:hover{
    background: rgba(0,0,0,.05);
}
.arrd{
    display: inline-block;
    background-image: url(../img/sprite.png);
    background-position: -337px -679px;
    width: 15px;
    height: 8px;
    margin-left: 15px;t
    transform-origin: 50% 50%;
    transition: transform .2s linear;
}
.arrd.active{
    transform: scaleY(-1);
}
.faq__semiTitle span{
    padding-right: 15px;
}
.faq__text{
    display: none;
    font-size: 14px;
    color: #616161;
    padding-left: 90px;
    margin: 25px auto 50px;
}
.faq__text:last-child{
    margin-bottom: 0;
}





.footer{
    background: #fff url(../img/footer-bg.jpg) no-repeat;
    background-position: left 50% top 0;
    padding-bottom: 15px;
    margin-bottom: 0 !important;
}
.footer .main-block__desc{
    font-size: 60px;
}
.footer .main-block__top {
    padding-top: 30px;
}
.footer .main-block__name {
    margin-bottom: 40px;
}
.footer .main-block__desc {
    margin-bottom: 40px;
}



.end .inner{
    padding: 50px 15px 40px;
    background: #1e1e1e;
}
.end__top{
    color: #fff;
    font-family: 'Aquarelle';
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}
.end__block{
    max-width: 960px;
    margin: 0 auto;
}
.end__bottom{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.end__bottom a{
    color: #616161;
    text-decoration: none;
}
.end__bottom a:nth-child(1){
    text-decoration: underline;
    color: #414141;
}
.end__bottom a:hover{
    text-decoration: none;
    color: #c5c5c5;
}
@media screen and (max-width: 1300px){
    .problem .inner{
        padding-left: 75px;
    }
}
@media screen and (max-width: 1200px){
    .sostav__block1 {
        padding-left: 60px;
    }
    .problem .inner{
        padding-left: 15px;
    }
    .slider__block-left{
        margin-right: 15px;
    }
    .top-line{
        margin-left: 200px;
    }
    .main-block {
        margin-left: 265px;
    }
    .main-block__top {
        margin-left: 145px;
    }
}
@media screen and (max-width: 992px){
    .end__top{
        text-align: center;
    }
    .end__bottom{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .end__bottom a{
        padding: 0 5px;
        margin-bottom: 5px;
    }
    .reviews__nav {
        right: 0;
        top: 0;
        width: 100%;
    }
    .footer .main-block__desc {
        font-size: 50px;
    }
    .footer{
        -webkit-background-size: cover;
        background-size: cover;
    }
    .problem {
        padding: 60px 0 20px;
    }
.use__title{
    text-align: center;
}
    .use__items {
        margin-bottom: 200px;
        justify-content: space-around;
    }
    .use__item{
        text-align: center;
        margin: 0 15px 30px;
    }
    .use__photos-block{
        background: url(../img/mob-photos.jpg) no-repeat;
        background-position: top 0 left 50%;
        height: 600px;
    }
    .use__photos-block .use__item {
        top: -80px;
        width: 270px;
        left: 50%;
        margin-left: -135px;
    }
    .slider2,
    .slider1{
        margin-bottom: 0;
    }
    .slider1{
        margin-bottom: 15px;
    }
    .hurry .inner {
        padding: 50px 0 70px;
    }
    .hurry .inner::before{
        display: none;
    }
    .sostav__block2{
        padding-left: 0;
        max-width: 100%;
        flex-direction: column
    }
    .sostav{
        padding-top: 60px;
        padding-bottom: 50px;
    }
    .sostav__text {
        max-width: 385px;
    }
    .sostav__block1{
        padding-left: 0;
    }
    .problem__smallBlock {
        max-width: 315px;
    }
    .problem__smallBlock-items {
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 40px;
    }
    .problem__smallBlock-items2 .problem__smallBlock-item:first-child {
        line-height: 160px;
    }
    .problem__smallBlock-items2 .problem__smallBlock-item:last-child {
        font-size: 16px;
    }
    .slider__block-bg{
        top: -70px;
    }
    .slider__block-ti{
        bottom: 116px;
    }
    .header{
        margin-bottom: 15px;
    }
    .slider__block-left {
        max-width: 400px;
    }
    .slider__block{
        max-width: 768px
    }
    .slider__block-left-slide img {
        width: 100% !important;
    }
    .top-line > a{
        padding: 0 3px;
    }
    .top-line {
        margin-left: 130px;
    }
    .main-block__top {
        margin-left: 0;
        text-align: right;
        margin-right: 100px;
    }
    .main-block {
        margin-left: 200px;
    }
    .form__title {
        font-size: 18px;
    }
    .form__block .form__row:last-child{
        flex-direction: column;
    }
    .reviews{
        -webkit-background-size: cover;
        background-size: cover;
        padding-bottom: 0;
        padding-top: 30px;
    }
}

@media screen and (max-width: 768px){
    .main-block__desc span{
        top: auto;
    }
    .faq__title{
        font-size: 44px;
        text-align: center;
    }
    .end__bottom a{
        font-size: 20px;
    }
    .faq__text {
        padding-left: 30px;
    }
    .reviews__count{
    margin-top: 0;
    }
    .reviews__nav {
        right: 50%;
        margin-right: -150px;
        top: 105px;
        width: 300px;
    }
    .reviews__text::before{
        top: -25px;
    }
    .reviews__avaBlock p{
        padding-left: 0;
        padding-top: 18px;
        text-align: center;
        margin-bottom: 15px;
    }
    .reviews__avaBlock p::before{
        top: 0;
        margin-top: 0;
        left: 50%;
        margin-left: -5px;
    }
    .reviews__slide{
        flex-direction: column;
        align-items: center
    }
    .use__items{
        flex-direction: column;
        align-items: center
    }
    .hurry__buttons > *{
        display: block !important;
        margin: 0 auto 15px !important;
        max-width: 300px !important
    }
    .main-block__name{
        font-size: 95px;
    }
    .top-line{
        margin-left: 0;
        display: none;
    }
    .hurry__product {
        left: -60px;
    }
    .use__title,
    .sostav__title,
    .problem__title{
        font-size: 44px;
        text-align: center;
    }
    .problem__titleSmall{
        text-align: center;
    }
    .problem__smallBlock-items {
        align-items: center;
    }
    .problem__smallBlock{
        max-width: 100%
    }
    .problem {
        background: #feccc1;
    }
    .slider__block-left::before{
        top: 0;
    }
    .slider__block{
        flex-direction: column
    }
    .form__right{
        min-width: 140px
    }
    .form__post{
        padding-bottom: 15px;
    }
    .form{
        padding-left: 10px;
        padding-right: 10px;
    }
    .main-block{
        margin-left: 0;
    }
    .main-block__top{
        margin-right: 0;
        padding-top: 30px;
        text-align: center;
    }
    .header {
        background: #feccc1;
    }
    .sostav__text{
        background: rgba(255,255,255,.5);
    }
}


@media screen and (max-width: 480px){
    .form__title {
        font-size: 28px;
    }
    .form__desc {
        font-size: 22px;
    }
    .form__right {
        min-width: 260px;
    }
    .form__row .btn{
        font-size: 20px;
    }
    input::-webkit-input-placeholder {
        font-size: 23px;
    }
    input::-moz-placeholder {
        font-size: 23px;
    }
    input:-moz-placeholder {
        font-size: 23px;
    }
    input:-ms-input-placeholder {
        font-size: 23px;
    }
    input:placeholder {
        font-size: 23px;
    }
    .input-block > input ,
    .input-block > select {
        height: 60px;
        font-size: 23px !important;
    }
    .timer .hours, .timer .mins, .timer .secs {
        margin-bottom: 34px;
    }
    .timer .mins::after, .timer .hours::after, .timer .secs::after {
        font-size: 19px;
        width: 60px;
        bottom: -23px;
        margin-left: -30px;
    }
    .timer{
        font-size: 66px;
    }
    .main-block__post {
        font-size: 22px;
    }
    .form__row{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .input-block > *:not(p){
        width: 100%;
    }
    .input-block{
        display: block;
        margin: 0 auto 15px !important;
        max-width: 300px;
        width: 300px;
    }
    .form__inputsBlock{
        flex-direction: column;
        align-items: center
    }
    .slider__block-right-p + .input-block{
        width: auto !important;
    }
}