/*Ð¢Ð°Ð¹Ð¼ÐµÑ€*/
.countbox {
    font-size: 24px;
    height: 109px;
    width: 400px;
    padding-left: 0;
    margin: 0 auto;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}
.countbox > div:last-child {
    margin: 0;    
}
.countbox .countbox-num {
    float: left;
    width: 120px;
    height: 65px;
    background: #ffd400;
    margin-right: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.countbox-hours, .countbox-mins, .countbox-secs {
    color:#333333;
    font-size: 60px;
    text-align: center;
    font-family:'Akrobat Bold';
    font-weight: 700;
    line-height: 59px;
    margin-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
}
.countbox-hours-text, .countbox-mins-text, .countbox-secs-text {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}