@-webkit-keyframes AnimationName {
    0% {background-position: 0% 50%;}
    40% {background-position: 0% 50%;}
    100% {background-position: 100% 50%;}
}
@-moz-keyframes AnimationName {
    0% {background-position: 0% 50%;}
    40% {background-position: 0% 50%;}
    100% {background-position: 100% 50%;}
}
@-o-keyframes AnimationName {
    0% {background-position: 0% 50%;}
    40% {background-position: 0% 50%;}
    100% {background-position: 100% 50%;}
}
@keyframes AnimationName {
    0% {background-position: 0% 50%;}
    40% {background-position: 0% 50%;}
    100% {background-position: 100% 50%;}
}

.gift {
    width: 148px;
    height: 48px;
    position: absolute;
    left: 288px;
    top: 397px;
    background: url(gift.png) no-repeat 0 0;
    overflow: hidden;
    border-radius: 8px;
}

.gift:before {
    display: block;
    content: '';
    width: 210%;
    height: 100%;
    background: url(blik.png) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-animation: AnimationName 2.5s cubic-bezier(0.43, 0.61, 1, 1) infinite;
    -moz-animation: AnimationName 2.5s cubic-bezier(0.43, 0.61, 1, 1) infinite;
    -o-animation: AnimationName 2.5s cubic-bezier(0.43, 0.61, 1, 1) infinite;
    animation: AnimationName 2.5s cubic-bezier(0.43, 0.61, 1, 1) infinite;
    position: absolute;
    top: 0;
    left: -55%;
    opacity: .7;
}
.giftImg {
    display: block;
    margin: 0 auto;
}
/*block1*//* after_qbici */
.b1 {
    background: url(b1_2.jpg)no-repeat center top;
    height: 675px;
    /*padding: 185px 0 0;*/
}
.b1 h1 {
    font-size: 33px;
    position: relative;
    text-shadow: 0 2px 0 #ffea38;
	background: #161414ab;
	padding: 15px 0;
}
.b1 h1:before, .b1 h1:after {
    content: '';
    display: block;
    width: 32px;
    height: 34px;
    background: url(black.png)no-repeat -7px 0;
    position: absolute;
    top: 8px;
}
.b1 h1:before {
    left: 20px;
}
.b1 h1:after {
    right: 20px;
}
.b1 h2 {
    font-size: 30px;
    line-height: 36px;
    color:#fff;
    margin-top: 37px;
    margin-bottom: 8px;
}
.b1 h3 {
    font-size: 48px;
    line-height: 59px;
    color:#ffe300;
}
.b1 h4 {
    font-size: 36px;
    color:#ffe300;
    line-height: 36px;
}
.plus {
    text-align: center;
    margin-top: 421px;
    float: left;
}

.plus li img {
    
}
.plus li {
    display: inline-block;
    width: 118px;
    color:#1a1607;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 18px;
    text-shadow: 0 2px 0 #ffea38;
    vertical-align: top;
}
.plus li:nth-child(1) {
    margin: 0 0 0 10px;
}
.plus li:nth-child(2) {
    width: 153px;
    margin: 0 0 0 25px;
}
.plus li:nth-child(3) {
    margin: 0 0 0 29px;
}

.plus li:nth-child(2):before {
    background-position: center -200px;
}
.plus li:nth-child(3):before {
    background-position: center -53px;
}
/*block2*//* after_qbici */
.b2 {
    background: url(patt.jfif)repeat;
    color:#fff;
    padding: 64px 0 0;
    height: 490px;
    
}
/*block3*//* endzeit_____ */
.b3 {
    padding: 10px 0 0;
}
.b3 h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 43px;
    margin: 25px 0;
}
.b3 h2 span {
    color:#00b754;
    font-size: 44px;
    display: block;
}
.b3 p {
    padding: 0px 15px 22px;
    text-align: justify;
    line-height: 30px;
}
/*block4*//* endzeit_____ */
.b4 {
    background: #e8e8e9;
    padding: 35px 0 0;
    text-align: center;
}
.b4 h2 {
    color:#b10b15;
    font-size: 34px;
    margin-bottom: 30px;
}
.photo2 {
    background: url(photo2.jfif)no-repeat 0 0;
    width: 451px;
    height: 300px;
    margin: 0 auto 20px;
    position: relative;
}
.photo2 h3 {
    display: block;
    background: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 83px;
    color:#ff7a00;
    font-size: 30px;
    text-align: left;
    padding: 11px 0 0 16px;
}
.photo2 h3 span {
    display: block;
    font-size: 24px;
    color:#fff;
    font-weight: 400;
}
.b4 > p {
    padding: 18px 15px 22px;
    line-height: 30px;
}
.secret {
    margin: 0 15px;
}
.secret li {
    display: block;
    text-align: left;
    margin-bottom: 25px;
}
.secret p {
    overflow: hidden;
    line-height: 28px;
}
.secret b {
    color:#ff7a00;
}
.secret li:before {
    content:'';
    display: block;
    background: url(check.png)no-repeat 0 0;
    width: 42px;
    height: 43px;
    float: left;
    margin-right: 10px;
    position: relative;
    top:8px;
}
/*block5*//* michael-k90 */
.b5 {
    background: url(patt.jfif)repeat;
    padding: 35px 0 15px;
    color:#fff;
}
.b5 h2 {
    font-size: 36px;
    margin-bottom: 30px;
}
.b5 span {
    color:#ffe100;
    display: block;
}
.preim li {
    margin-bottom: 20px;
}
.preim h3 {
    font-size: 16px;
    margin-bottom: 15px;
    position: relative;
}
.preim h3:before, .preim h3:after {
    content: '';
    display: block;
    width: 187px;
    height: 2px;
    background: #656365;
    position: absolute;
    top:-33px;
}
.preim h3:before {
     left: 15px;
}
.preim h3:after {
    right: 15px;
}
.preim p {
    text-align: center;
    padding: 0 15px;
}
.preim li:before {
    content: '';
    display: block;
    width: 36px;
    height: 37px;
    margin: 0 auto 15px;
    background: url(preim.png)no-repeat center 0;
}
.preim li:nth-child(2):before {
    background-position: center -42px;
}
.preim li:nth-child(3):before {
    background-position: center -83px;
}
/*block6*//* michael-k90 */
.b6 {
    padding: 30px 0 15px;
}
.b6 h2 {
    font-size: 34px;
    text-align: center;
    padding-left: 44px;
    line-height: 40px;
}
.char {
    width: 440px;
    margin:  10px auto 0;
}

.char li {
    display: block;
    height: auto;
    line-height: 50px;
}
.char span {
    font-weight: 700;
    width: auto;
    display: inline-block;
}
.char li:nth-child(odd) {
    background: #f5f5f5;
}
.new_price p
{
	width: 90%;
	text-align: center;
}
.new span
{
	text-align: center;
}
.char li:before {
    content: '';
    display: block;
    float: left;
    width: 7px;
    height: 7px;
    background: #edb72b;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border:3px solid #fff;
    margin: 17px 20px 0 20px;
    position: relative;
    top:1px;
}
.char li:nth-child(8) {
    height: 70px;
}
.char li:nth-child(8) span {
    margin-bottom: 20px;
}
.char li:nth-child(8) p {
    line-height: 20px;
    padding-top: 13px
}
.char1 {
    width: 440px;
    margin:  55px auto 0;
}

.char1 li {
    display: block;
    height: auto;
    line-height: 50px;
}
.old span {
    text-decoration: line-through;
	text-align: center;
}
.char1 span {
    font-weight: 700;
    display: inline-block;
}
.char1 li:nth-child(odd) {
    background: #f5f5f5;
}

.char1 li:before {
    content: '';
    display: block;
    float: left;
    width: 7px;
    height: 7px;
    background: #edb72b;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border:3px solid #fff;
    margin: 10px 20px 0 20px;
    position: relative;
    top:1px;
}
.char1 li:nth-child(8) {
    height: 70px;
}
.char1 li:nth-child(8) span {
    margin-bottom: 20px;
}
.char1 li:nth-child(8) p {
    line-height: 20px;
    padding-top: 13px
}
.old_price p
{
	text-align: center;
}
/*block8*//* bizlife_inc */
.b8 {
    background: url(patt.jfif)repeat;
    padding: 35px 0 30px;
    color:#fff;
}
.b8 h2 {
    font-size: 24px;
    line-height: 42px;
    margin-bottom: 30px;
}
.b8 h2 span {
    font-size: 44px;
    color:#ffe100;
    display: block;
}  
.reviews {
    text-align: center;
}
.reviews .rev:before {
    content: '';
    display: block;
    background: url(rev.jpg)no-repeat 0 0;
    width: 156px;
    height: 156px;
    border:4px solid #645a18;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    margin: 0 auto 12px;
}
.reviews .r2:before {
    background-position: -156px 0;
}
.reviews .r3:before {
    background-position: -312px 0;
}
.reviews .rev h3 {
    font-weight: 18px;
    margin-bottom: 3px;
}
.reviews .rev span {
}
.reviews .rev p {
    line-height: 30px;
    text-align: justify;
    padding: 15px 30px 0;
}
/*block9*//* owmen17 */
.b9 {
    background: #eaeaea;
    padding: 9px 34px;
}
.ship {
}
.ship li {
    clear: both;
    padding: 30px 0;
    border-bottom: 1px dashed #838383;
}
.ship li:last-child {
    border:none;
}
.ship p {
    text-align: left;
    margin-left: 98px;
}
.ship b {
    color:#b10b15;
}
.ship li:before {
    content: '';
    display: block;
    float: left;
    width: 72px;
    height: 61px;
    background: url(ship.png)no-repeat center 8px;
    margin-right: 27px;
}
.ship li:nth-child(2):before {
    background-position: center -62px;
}
.ship li:nth-child(3):before {
    background-position: center -139px;
}
/*block10*/
.b10 {
    background: url(patt.jfif)repeat;
    padding: 30px 0 40px;
}
.b10 h2 {
    font-size: 24px;
    color:#fff;
    font-weight: 400;
    line-height:35px;
}
.b10 h2 + p {
    color:#fff;
    padding: 0 50px;
    text-align: center;
    font-size: 18px;
}
.b10 .sell-price {
    margin-bottom: 20px;
}
.m1-form {
    width: 360px;
    margin: 30px auto 0;
}
/*footer*//* endzeit_____ */
.footer {
    text-align: center;
    padding: 40px 0 30px;
    background: #151218;
}
.footer a {
    font-size: 14px;
    color:#fff;
}